
<div *ngFor="let section of lane.sections" class="section">
  <span [innerHtml]="section.title"></span>
  <mat-checkbox *ngFor="let task of section.tasks" [checked]="task.complete">
    <span [innerHtml]="task.title"></span>
  </mat-checkbox>
</div>