
:host {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: .5em 1em;
}

.section {
  padding: .5em 0em;
  font-weight: bold;
}

mat-checkbox {
  display: block;
  font-weight: normal;
}
