#lane-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  border-top: thin solid black;
  border-bottom: thin solid black;
  padding: 1em;
}

#lane-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#outlet-wrapper {
  position: relative;
  width: 100%;
}