<div [@routeSlide]="routeTrigger$ | async">

  <div id="lane-header">

    <button id="left-nav-button" mat-stroked-button [routerLink]="(prev$ | async)?.id" [disabled]="!(prev$ | async)">
      <mat-icon>chevron_left</mat-icon> {{ (prev$ | async)?.title }}
    </button>
    
    <span id="lane-title">
      {{ (laneChange$ | async)?.title }}
    </span>
    
    <button id="right-nav-button" mat-stroked-button [routerLink]="(next$ | async)?.id" [disabled]="!(next$ | async)">
      {{ (next$ | async)?.title }} <mat-icon>chevron_right</mat-icon>
    </button>

  </div>

  <div id="outlet-wrapper">
    <router-outlet #outletRef="outlet"></router-outlet>
  </div>
  
</div>